<%  
    let paramsString = ''
    if(params) {
        if (params.target) paramsString += `&target=${params.target}`;
        if (params.filters) paramsString += `${params.filters}`;
        if (params.order) paramsString += `&order=${params.order}`;
    }
%>

<div class="pagination">
    <div class="pagination-previous">
        <% if (pagination.currentPage > 1) { %>
        <a href="?page=1&username=<%= username %><%= paramsString %>">
            <span class="material-symbols-outlined">first_page</span>
        </a>
        <a href="?page=<%= pagination.currentPage - 1 %>&username=<%= username %><%= paramsString %>">
            <span class="material-symbols-outlined">chevron_left</span>
        </a>
        <% } %>
    </div>

    <div class="pagination-pages">
        <% const start = Math.max(1, pagination.currentPage - 3); %> 
        <% const end = Math.min(pagination.totalPages, pagination.currentPage + 3); %>
        <% for (let i = start; i <= end; i++) { %>
        <a href="?page=<%= i %>&username=<%= username %><%= paramsString %>"class="<%= pagination.currentPage === i ? 'active' : '' %>">
            <%= i %>
        </a>
        <% } %>
    </div>

    <div class="pagination-next">
        <% if (pagination.currentPage < pagination.totalPages) { %>
            <a href="?page=<%= pagination.currentPage + 1 %>&username=<%= username %><%= paramsString %>">
                <span class="material-symbols-outlined">chevron_right</span>
            </a>
            <a href="?page=<%= pagination.totalPages %>&username=<%= username %><%= paramsString %>">
                <span class="material-symbols-outlined">last_page</span>
            </a> 
    <% } %>
    </div>
</div>
