<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/html-head.ejs') %>
        <link rel="stylesheet" href="/css/dashboard.css">
        <title>Dashboard</title>
    </head>
    <body>
        <%- include('./partials/sidebar.ejs', {activePage : 'dashboard'}) %>
        <main class="main-content">
            <h1>Bienvenido, <%= username %></h1>
            <h2>Explorar</h2>
            <section class="menu">
                <a href="/dashboard/products?username=<%= username %>" class="card">
                    <div class="card-body">
                        <p class="card-title">Productos</p>
                        <div class="card-image">
                            <svg width="200px" height="200px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path class="icon-path" fill-rule="evenodd" clip-rule="evenodd"
                                d="M6.98.678a2.25 2.25 0 012.04 0l5.297 2.696c.42.214.683.644.683 1.114v6.717c0 .658-.37 1.261-.956 1.56L9.02 15.322a2.25 2.25 0 01-2.042 0l-5.023-2.557A1.75 1.75 0 011 11.205V4.488c0-.47.264-.9.683-1.114L6.979.678zm1.36 1.337a.75.75 0 00-.68 0L3.224 4.273 8 6.661l4.776-2.388L8.34 2.015zm-5.84 9.19V5.588l4.75 2.375v5.814l-4.613-2.35a.25.25 0 01-.137-.222zm6.25 2.572l4.613-2.35a.25.25 0 00.137-.222V5.588L8.75 7.963v5.814z" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="/dashboard/sales?username=<%= username %>" class="card">
                    <div class="card-body">
                        <p class="card-title">Ventas</p>
                        <div class="card-image">
                            <svg width="200px" height="200px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="icon-path" d="M4.5 6.99542H4V7.99542H4.5V6.99542ZM10.5 7.99542H11V6.99542H10.5V7.99542ZM4.5 9.5H4V10H4.5V9.5ZM10.5 9.5V10H11V9.5H10.5ZM4.5 5.5V5H4V5.5H4.5ZM10.5 5.5H11V5H10.5V5.5ZM13.5 3.5H14V3.29289L13.8536 3.14645L13.5 3.5ZM10.5 0.5L10.8536 0.146447L10.7071 0H10.5V0.5ZM4.5 7.99542H10.5V6.99542H4.5V7.99542ZM4.5 10H10.5V9H4.5V10ZM4.5 6H10.5V5H4.5V6ZM12.5 14H2.5V15H12.5V14ZM2 13.5V1.5H1V13.5H2ZM13 3.5V13.5H14V3.5H13ZM2.5 1H10.5V0H2.5V1ZM10.1464 0.853553L13.1464 3.85355L13.8536 3.14645L10.8536 0.146447L10.1464 0.853553ZM2.5 14C2.22386 14 2 13.7761 2 13.5H1C1 14.3284 1.67157 15 2.5 15V14ZM12.5 15C13.3284 15 14 14.3284 14 13.5H13C13 13.7761 12.7761 14 12.5 14V15ZM2 1.5C2 1.22386 2.22386 1 2.5 1V0C1.67157 0 1 0.671574 1 1.5H2ZM4 5.5V9.5H5V5.5H4ZM7 5.5V9.5H8V5.5H7ZM10 5.5V9.5H11V5.5H10ZM4 4H7V3H4V4ZM8 12H11V11H8V12Z"/>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="/dashboard/users?username=<%= username %>" class="card">
                    <div class="card-body">
                        <p class="card-title">Usuarios</p>
                        <div class="card-image">
                            <svg width="200px" height="200px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="icon-path" d="M5.5 0C3.56717 0 2 1.56567 2 3.49804C2 5.43041 3.56717 6.99609 5.5 6.99609C7.43283 6.99609 9 5.43041 9 3.49804C9 1.56567 7.43283 0 5.5 0Z"/>
                                <path class="icon-path" d="M3.5 8.99414C1.56711 8.99414 0 10.5605 0 12.4936V14.9909H11V12.4936C11 10.5605 9.43289 8.99414 7.5 8.99414H3.5Z"/>
                                <path class="icon-path" d="M12.5 10H12V15H15V12.5C15 11.1193 13.8807 10 12.5 10Z"/>
                                <path class="icon-path" d="M11.5 4C10.1193 4 9 5.11929 9 6.5C9 7.88071 10.1193 9 11.5 9C12.8807 9 14 7.88071 14 6.5C14 5.11929 12.8807 4 11.5 4Z"/>
                            </svg>
                        </div>
                    </div>
                </a>

                </div>
            </section>
        </main>
    </body>
   <script type="module">
        import { setupHamburguerMenu } from "./js/ui/hamburguerMenu.js";
        setupHamburguerMenu();
    </script>
</html>