<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/html-head.ejs') %>
        <link rel="stylesheet" href="/css/dashboard.css">
        <title>Dashboard</title>
    </head>
    <body>
        <%- include('./partials/sidebar.ejs', {activePage : 'dashboard'}) %>
        <main class="main-content">
            <h1>Bienvenido, <%= username %></h1>
            <h2>Explorar</h2>
            <section class="menu">
                <a href="/dashboard/products?username=<%= username %>" class="card">
                    <div class="card-body">
                        <p class="card-title">Productos</p>
                        <div class="card-image">
                            <img src="/img/products.png" alt="" srcset="">
                        </div>
                    </div>
                </a>
                <a href="/dashboard/sales?username=<%= username %>" class="card">
                    <div class="card-body">
                        <p class="card-title">Ventas</p>
                        <div class="card-image">
                            <img src="/img/sales.png" alt="" srcset="">
                        </div>
                    </div>
                </a>
                <a href="/dashboard/users?username=<%= username %>" class="card">
                    <div class="card-body">
                        <p class="card-title">Usuarios</p>
                        <div class="card-image">
                            <img src="/img/users.png" alt="" srcset="">
                        </div>
                    </div>
                </a>

                </div>
            </section>
        </main>
    </body>
   <script type="module">
        import { setupHamburguerMenu } from "./js/ui/hamburguerMenu.js";
        setupHamburguerMenu();
    </script>
</html>