<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/user.png" type="image/x-icon"><link rel="shortcut icon" href="/user.png" type="image/x-icon">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <title>Dashboard</title>
    </head>
    <body>
        <aside class="sidebar">
            <h2>Admin</h2>
            <div class="hamburger-menu" id="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <nav>
                <ul id="nav-buttons" class="nav-buttons">
                    <li><a class="active" href="">Dashboard</a></li>
                    <li><a href="/dashboard/sales?username=<%= username %>">Orders</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="/login"><p>Logout</p><span class="material-symbols-outlined">logout</span></a></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <h1>Bienvenido, <%= username %></h1>
            <h2>Productos</h2>
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Categoría</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <% if (products.length > 0) { %>
                        <% products.forEach(product => { %>
                            <tr>
                                <td data-label="ID"><%= product.id %></td>
                                <td data-label="Título"><%= product.title %></td>
                                <td data-label="Descripción"><%= product.description %></td>
                                <td data-label="Categoría"><%= product.category.charAt(0).toUpperCase() + product.category.slice(1) %></td>
                                <td data-label="Precio">$<%= product.price.toFixed(2) %></td>
                                <td data-label="Estado" class="<%= product.enabled ? 'status status-active' : 'status' %>" data-id="<%= product.id %>">
                                    <%= product.enabled ? 'Activo' : 'Inactivo' %> </td>
                                <td data-label="Acciones" class="actions">
                                    <button class="edit-product" data-id="<%= product.id %>">Editar</button>
                                    <button class="toggle-product" value="<%= product.enabled %>" data-id="<%= product.id %>">Cambiar estado</button>
                                </td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="7">No hay productos disponibles.</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </main>
        <!-- Modal  -->
        <div id="modal-confirm" class="modal-overlay">
            <div class="modal-content">
                <div class="modal-buttons">
                    <button id="btn-confirm" class="confirm">Confirmar</button>
                    <button id="btn-cancel" class="cancel">Cancelar</button>
                </div>
            </div>
        </div>
    </body>
    <script type="module" src="/dashboard.js"></script>
</html>